.homepage-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-page-h1 {
  color: rgb(27, 20, 88);
  text-align: center;
  margin: 0;
}

@media (max-height: 420px) {
  .home-page-h1 {
    font-size: 20px;
    margin-top: 50px;
  }
}
