.homepage-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  width: 600px;
  margin: 0 auto;
  color: rgb(27, 20, 88);
  text-align: center;
}

@media (min-width: 362px) and (max-width: 680px) {
  h1 {
    width: 368px;

    margin: 50px auto 0;
  }
}
