.homepage-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  width: 600px;
  margin: 0 auto;
  color: rgb(27, 20, 88);
  text-align: center;
}

@media (min-width: 420px) {
  h1 {
    width: 368px;
    margin: 50px auto 0;
  }
}
@media (min-width: 610px) {
  h1 {
    width: 500px;
    margin: 20px auto 0;
  }
}
@media (min-width: 768px) {
  h1 {
    margin: 20px auto 0;
  }
}
@media (min-width: 1092px) {
  h1 {
    width: 800px;
    margin: 20px auto 0;
  }
}
