.homepage-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-page-h1 {
  margin: 0 auto;
  color: rgb(27, 20, 88);
  text-align: center;
}
