.button-component {
  cursor: pointer;
  display: block;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  background-color: darkcyan;
  box-shadow: 2px 2px 2px 0.5px rgba(0, 0, 0, 0.5);
  border: none;
  transition: all 0.1s ease;
  &:active {
    transform: translate(1px, 1px);
    box-shadow:
      0 1px 1px #4c4e4c,
      inset 0 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #21b670;
  }
  &.back {
    font-size: 14px;
    color: rgb(27, 2, 83);
    background-color: rgb(204, 203, 203);
  }
}

@media (max-width: 360px) {
  .button-component {
    margin-top: 10px;
  }
}
