.navContainer {
  display: flex;
  gap: 5px;
}
.navigation {
  margin: 8px auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.norm {
  padding: 4px 8px;
  text-decoration: none;
  border: 1px solid #ccc;
  color: brown;
  font-weight: 500;
  border-radius: 8px;
  background-color: #eee;
  scale: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.norm:hover {
  color: brown;
  transform: scale(0.98); /* Уменьшаем размер элемента */
  background-color: #e2e6e9; /* Меняем цвет фона */
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2); /* Внутренняя тень для эффекта нажатия */
}

.active {
  padding: 4px 8px;
  text-decoration: none;
  border: 1px solid #ccc;
  color: rgb(6, 41, 199);
  font-weight: bold;
  border-radius: 8px;
  transform: scale(0.98); /* Уменьшаем размер элемента */
  background-color: #e2e6e9; /* Меняем цвет фона */
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2); /* Внутренняя тень для эффекта нажатия */
}

.btnCountry {
  display: flex;
  justify-content: center;
  gap: 8px;
  z-index: 999;
  & > span {
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .navContainer {
    flex-direction: column;
    gap: 10px;
  }
}
