.history-container {
  margin: 25px auto 0;
  text-align: center;
  max-width: 700px;
}

h1 {
  margin-bottom: 10px;
}

.data-null {
  color: red;
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
