.history-container {
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
}

.history-h1 {
  margin: 10px auto 10px;
  padding: 10px;
  text-align: center;
  color: rgb(27, 20, 88);
}

.data-null {
  color: red;
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 360px) {
  ul {
    width: 300px;
    margin: 0 auto;
  }

  li div:nth-child(n + 2):nth-child(-n + 5) {
    display: none;
  }
}

@media (min-width: 361px) and (max-width: 609px) {
  ul {
    width: 340px;
    margin: 0 auto;
  }

  li div:nth-child(n + 2):nth-child(-n + 5) {
    display: none;
  }
}

@media (min-width: 610px) and (max-width: 768px) {
  ul {
    width: 340px;
    margin: 0 auto;
  }

  li div:nth-child(n + 2):nth-child(-n + 4) {
    display: none;
  }
}
