.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 320px;
  max-width: 700px;
  width: 100%;
  padding: 12px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

@media (max-width: 360px) {
  .modal-content {
    max-height: 500px;
    max-width: 300px;
  }
}

@media (min-width: 361px) and (max-width: 609px) {
  .modal-content {
    max-height: 520px;
    max-width: 340px;
  }
}

@media (min-width: 610px) and (max-width: 768px) {
  .modal-content {
    max-height: 320px;
    max-width: 600px;
  }
}

@media (max-height: 420px) {
  .modal-content {
    max-height: 280px;
  }
}
