.h2-result {
  text-align: center;
  color: #2e2d2d;
  margin: 15px auto 18px;
}

.line-result {
  margin: 2px 0 10px;
  display: flex;
  justify-content: space-between;
  & > span:first-child {
    color: black;
    margin-right: 14px;
  }
}

.container-result {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 20px;
}

span {
  font-weight: bold;
  font-size: 14px;
  color: black;
}

@media (max-width: 360px) {
  .container-result {
    flex-direction: column;
    width: 254px;
    margin: 0px auto 15px;
    gap: 8px;
  }
  .h2-result {
    margin: 0 auto 15px;
  }
}

@media (min-width: 361px) and (max-width: 610px) {
  .container-result {
    flex-direction: column;
    width: 254px;
    margin: 0px auto 15px;
    gap: 8px;
  }
  .h2-result {
    margin: 15px auto 15px;
  }
}

@media (max-height: 420px) {
  .modal-content {
    max-height: 280px;
  }
  .h2-result {
    margin: 0 auto;
  }
  .container-result {
    margin-top: 8px;
    margin-bottom: -8px;
  }
}
