h2 {
  text-align: center;
  color: #2e2d2d;
  margin: 0 auto 18px;
}

.line-result {
  margin: 2px 0 10px;
  display: flex;
  justify-content: space-between;
  & > span:first-child {
    color: black;
    margin-right: 14px;
  }
}

.container-result {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 20px;
}

span {
  font-weight: bold;
  font-size: 14px;
  color: black;
}

@media (max-width: 360px) {
  .container-result {
    flex-direction: column;
    width: 254px;
    margin: 0px auto;
    gap: 8px;
  }
  h2 {
    margin: 68px auto 10px;
  }
}
