.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  gap: 20px;
  border-bottom: 1px solid #aaa;
}

.data-line {
  display: flex;
  justify-content: space-between;
  & > span {
    width: 60px;
  }
  &.time {
    display: flex;
    flex-direction: column;

    & > span:first-child {
      font-size: 11px;
    }
  }
}

.title-line {
  color: black;
}

span.class-name {
  width: 80px;
  color: rgb(44, 46, 46);
}

span.class-weight,
.class-height {
  width: 80px;
  color: rgb(44, 46, 46);
}

span.class-age {
  width: 80px;
  color: rgb(44, 46, 46);
}

span.class-gender {
  width: 80px;
  color: rgb(2, 65, 2);
}

span.class-data {
  width: 114px;
  color: rgb(105, 25, 0);
}

.button {
  width: 30px;
  color: white;
  cursor: pointer;
  &.button-ok {
    background-color: green;
  }
  &.button-del {
    background-color: red;
  }
}

.modal-content:has(.btn-block-delete) {
  width: 300px;
}

.btn-block-delete {
  display: flex;
  margin: 0 auto;
}
